@charset "utf-8";
	.Artwork_7_00000023989444176048568140000006156467632410949040_
{
	background-image : url(Artwork_7_00000023989444176048568140000006156467632410949040_.png);
	background-repeat : no-repeat;
}
.Artwork_7_00000062162069874796133820000006746574459908925615_
{
	background-image : url(Artwork_7_00000062162069874796133820000006746574459908925615_.png);
	background-repeat : no-repeat;
}
.Artwork_6_00000170245613294217111870000008646440301273287296_
{
	background-image : url(Artwork_6_00000170245613294217111870000008646440301273287296_.png);
	background-repeat : no-repeat;
}
.Artwork_5_00000023244480008378883910000014403426262587743884_
{
	background-image : url(Artwork_5_00000023244480008378883910000014403426262587743884_.png);
	background-repeat : no-repeat;
}
.Artwork_4_00000034780630239424522200000017706064796571752589_
{
	background-image : url(Artwork_4_00000034780630239424522200000017706064796571752589_.png);
	background-repeat : no-repeat;
}
.NormalCharacterStyle22
{
	font-family : Myriad Pro;
	font-size : 28px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Baggrund
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(204, 224, 244, 1) 0%,rgba(195, 220, 242, 1) 6.5%,rgba(169, 210, 238, 1) 17.3%,rgba(128, 194, 231, 1) 31.09%,rgba(71, 172, 222, 1) 47.15%,rgba(30, 156, 215, 1) 57.55%,rgba(0, 117, 190, 1) 86.52%,rgba(0, 91, 151, 1) 99.44%);
	background : -webkit-linear-gradient(0deg, rgba(204, 224, 244, 1) 0%, rgba(195, 220, 242, 1) 6.5%, rgba(169, 210, 238, 1) 17.3%, rgba(128, 194, 231, 1) 31.09%, rgba(71, 172, 222, 1) 47.15%, rgba(30, 156, 215, 1) 57.55%, rgba(0, 117, 190, 1) 86.52%, rgba(0, 91, 151, 1) 99.44%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(204, 224, 244, 1) ),color-stop(0.065,rgba(195, 220, 242, 1) ),color-stop(0.173,rgba(169, 210, 238, 1) ),color-stop(0.3109,rgba(128, 194, 231, 1) ),color-stop(0.4715,rgba(71, 172, 222, 1) ),color-stop(0.5755,rgba(30, 156, 215, 1) ),color-stop(0.8652,rgba(0, 117, 190, 1) ),color-stop(0.9944,rgba(0, 91, 151, 1) ));
	background : -o-linear-gradient(0deg, rgba(204, 224, 244, 1) 0%, rgba(195, 220, 242, 1) 6.5%, rgba(169, 210, 238, 1) 17.3%, rgba(128, 194, 231, 1) 31.09%, rgba(71, 172, 222, 1) 47.15%, rgba(30, 156, 215, 1) 57.55%, rgba(0, 117, 190, 1) 86.52%, rgba(0, 91, 151, 1) 99.44%);
	background : -ms-linear-gradient(0deg, rgba(204, 224, 244, 1) 0%, rgba(195, 220, 242, 1) 6.5%, rgba(169, 210, 238, 1) 17.3%, rgba(128, 194, 231, 1) 31.09%, rgba(71, 172, 222, 1) 47.15%, rgba(30, 156, 215, 1) 57.55%, rgba(0, 117, 190, 1) 86.52%, rgba(0, 91, 151, 1) 99.44%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE0F4', endColorstr='#005B97' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(204, 224, 244, 1) 0%, rgba(195, 220, 242, 1) 6.5%, rgba(169, 210, 238, 1) 17.3%, rgba(128, 194, 231, 1) 31.09%, rgba(71, 172, 222, 1) 47.15%, rgba(30, 156, 215, 1) 57.55%, rgba(0, 117, 190, 1) 86.52%, rgba(0, 91, 151, 1) 99.44%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCE0F4',endColorstr='#005B97' , GradientType=1);
}
.NormalCharacterStyle20
{
	font-family : Myriad Pro;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle13
{
	font-family : Myriad Pro;
	font-size : 48px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Myriad Pro;
	font-size : 48px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : Myriad Pro;
	font-size : 48px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Myriad Pro;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle19
{
	font-family : Myriad Pro;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle14
{
	font-family : Myriad Pro;
	font-size : 48px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle21
{
	font-family : Myriad Pro;
	font-size : 28px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle10
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle17
{
	font-family : Myriad Pro;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : Myriad Pro;
	font-size : 48px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle18
{
	font-family : Myriad Pro;
	font-size : 120px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 24px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle9
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 36px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.Artwork_2_00000176722605019042978110000000798987421081522623_
{
	background-image : url(Artwork_2_00000176722605019042978110000000798987421081522623_.png);
	background-repeat : no-repeat;
}
.Artwork_2_00000136370997412788768660000010035402052896911499_
{
	background-image : url(Artwork_2_00000136370997412788768660000010035402052896911499_.png);
	background-repeat : no-repeat;
}
.Artwork_2_00000154396882384926261000000012476780936732127412_
{
	background-image : url(Artwork_2_00000154396882384926261000000012476780936732127412_.png);
	background-repeat : no-repeat;
}
.Artwork_2_00000064339941845097144180000005059826089852009392_
{
	background-image : url(Artwork_2_00000064339941845097144180000005059826089852009392_.png);
	background-repeat : no-repeat;
}
.Artwork_2_00000098203463892621865080000000978573841917417910_
{
	background-image : url(Artwork_2_00000098203463892621865080000000978573841917417910_.png);
	background-repeat : no-repeat;
}
.Artwork_1_00000085250004527754147670000015336369516371740048_
{
	background-image : url(Artwork_1_00000085250004527754147670000015336369516371740048_.png);
	background-repeat : no-repeat;
}
